@import "tailwindcss";

* {
  font-family: "Google Sans Flex", monospace;
}


@theme {
  --color-blue-chill-50: #f0fbfa;
  --color-blue-chill-100: #d8f5f5;
  --color-blue-chill-200: #b6ebea;
  --color-blue-chill-300: #83dcdd;
  --color-blue-chill-400: #4ac4c6;
  --color-blue-chill-500: #2ea8ac;
  --color-blue-chill-600: #2c929b;
  --color-blue-chill-700: #276f77;
  --color-blue-chill-800: #285b62;
  --color-blue-chill-900: #254c54;
  --color-blue-chill-950: #143238;
}